<header class="header">
	<div class="header__content-wrapper">
		<div class="header__title-wrapper">
			<h1 class="header__title-text">Weather App</h1>
		</div>
		<nav class="header__navigation-wrapper">
			<a href="/" class="header__navigation-link">Weather</a>
			<a href="/about" class="header__navigation-link">About</a>
			<a href="/help" class="header__navigation-link">Help</a>
		</nav>
	</div>
</header>