/* MOBILE FIRST CSS */

@import 'base-elements.css';
@import './blocks/body.css';
@import './blocks/video.css';


body {
	
}

/* --- BODY --- */
/* body {
	background-color: #fcfcfc;
	font-family: sans-serif;
	overflow: hidden;
} */

/* --- HEADER --- */
/* header {
	height: 60px;
	width: 100%;
	background-color: #444466;
} */

/* .header__content-wrapper {
	height: 100%;
	padding: 0 10px;
	display: flex;
	align-items: center;
} */

/* .header__title-wrapper {
	flex: 1;
} */

/* .header__title-text {
	font-size: 20px;
	color: #fcfcfc;
	text-shadow: 0px 2px #222233;
} */

.header__navigation-wrapper {
	/* Here in case it is needed */
}

/* .header__navigation-link {
	color: #fcfcfc;
	text-decoration: none;
	font-size: 14px;
	margin: 0 6px;
	text-shadow: 0px 2px #222233;
} */

/* @media(min-width: 768px) {

	.header__content-wrapper {
		padding: 0 25px;
		display: flex;
		align-items: center;
	}

	.header__navigation-link {
		font-size: 15px;
		margin: 0 15px;
	}

	.header__navigation-link:hover {
		color: white;
	}

} */

/* --- FOOTER --- */
/* footer {
	height: 40px;
	width: 100%;
	background-color: #444466;
	position: fixed;
	bottom: 0;
	left: 0;
}

.footer__content-wrapper {
	height: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.footer__created-message {
	color: #fcfcfc;
	font-size: 10px;
} */

/* --- MAIN --- */

/* 100px = combined height of the header and footer. If either changes this must be adjusted too! */
/* .main {
	height: calc(100vh - 100px); 
	padding: 20px 10px;
} */

/* @media(min-width: 768px) {
	.main {
		max-width: 900px;
		margin: 0 auto;
	}
} */

/* --- PAGE-TITLE --- */

/* .page-title {
	font-size: 25px;
}

@media(min-width: 768px) {
	.page-title {
		font-size: 40px;
	}
} */